@import '~styles/abstracts/variables';

.CategoryChooser__MainWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.CategoryChooser__Body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-background-empty;
  border-radius: $border-radius-default;
}

.CategoryChooser__TextHintWrapper {
  margin: auto $spacing-default;
}

.CategoryChooser__TextHint {
  margin: 0;
}
