@import '~styles/abstracts/variables';

.TopLevelBar__MainWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.TopLevelBar__CategoryChooserWrapper,
.TopLevelBar__PublishButtonWrapper {
  padding: calc(#{$spacing-default} / 2);
}
