{
  "dev": {
    "REACT_APP_API_URL": "http://localhost:5000/api/v1.0/"
  },
  "test": {
    "REACT_APP_API_URL": "http://localhost:5000/api/v1.0/"
  },
  "prod": {
    "REACT_APP_API_URL": "your-prod-api-url"
  }
}