{
  "dev": {
    "REACT_APP_API_URL": "http://localhost:5000/api/v1.0/",
    "REACT_APP_EMAIL": "some@example.com"
  },
  "test": {
    "REACT_APP_API_URL": "http://localhost:5000/api/v1.0/",
    "REACT_APP_EMAIL": "some@example.com"
  },
  "prod": {
    "REACT_APP_API_URL": "your-prod-api-url",
    "REACT_APP_EMAIL": "some@example.com"
  }
}