{
  "dev": {
    "REACT_APP_API_URL": "http://localhost:5000/api/v1.0/",
    "REACT_APP_EMAIL": "some@example.com",
    "REACT_APP_LINK_FB": "https://facebook.com/<some-profile>",
    "REACT_APP_LINK_VK": "https://vk.com/<some-profile>",
    "REACT_APP_LINK_TW": "https://twiiter.com/<some-profile>",
    "SASS_PATH": "node_modules:src"
  },
  "test": {
    "REACT_APP_API_URL": "http://localhost:5000/api/v1.0/",
    "REACT_APP_EMAIL": "some@example.com",
    "REACT_APP_LINK_FB": "https://facebook.com/<some-profile>",
    "REACT_APP_LINK_VK": "https://vk.com/<some-profile>",
    "REACT_APP_LINK_TW": "https://twiiter.com/<some-profile>",
    "SASS_PATH": "node_modules:src"
  },
  "prod": {
    "REACT_APP_API_URL": "your-prod-api-url",
    "REACT_APP_EMAIL": "some@example.com",
    "REACT_APP_LINK_FB": "https://facebook.com/<some-profile>",
    "REACT_APP_LINK_VK": "https://vk.com/<some-profile>",
    "REACT_APP_LINK_TW": "https://twiiter.com/<some-profile>",
    "SASS_PATH": "node_modules:src"
  }
}
