/* Colors. */
$color-background-empty-gray: #8f8e8e;
$color-background-empty: white;
$color-background-hotter: #ba382f;
$color-background-colder: #8942a8;
$color-background: #4c2974;
$color-highlight: #c0392b;
$color-blackout-lighter: #3f4352;
$color-blackout-darker: #333642;
$color-blackout-text: #aeafb4;
$color-links: #069;

/* Sizes. */
$width-nav-toggle: 991px;
$width-minimum: 2px;
$spacing-default: 25px;
$height-navbar: 80px;
$height-content: 446px;
$border-radius-default: .25rem;
$size-font-title: 1.5em;
