@import '../../variables';

.MainWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.CategoryChooserWrapper,
.PublishButtonWrapper {
  padding: calc(#{$spacing-default} / 2);
}
