// Colors.
$color_background_hotter: #ba382f;
$color_background_colder: #8942a8;
$color_background: #4c2974;
$color_highlight: #c0392b;
$color_blackout_lighter: #3f4352;
$color_blackout_darker: #333642;
$color_blackout_text: #aeafb4;

// Sizes.
$width_nav_toggle: 991px;
$width_minimum: 2px;
$spacing_default: 25px;
$height_content: 446px;
$border_radius_default: .25rem;