// Colors.
$color_background: #4c2974;
$color_highlight: #c0392b;
$color_blackout_lighter: #3f4352;
$color_blackout_darker: #333642;
$color_blackout_text: #aeafb4;

// Sizes.
$width_nav_toggle: 991px;