@import './variables';

.MainWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.CategoryTextHintWrapper {
  margin-right: $spacing_default;
}

.CategoryTextHint {
  margin: 0;
}