@import './variables';

.Body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-background-empty;
  border-radius: $border_radius_default;
}

.CategoryTextHintWrapper {
  margin: auto $spacing_default;
}

.CategoryTextHint {
  margin: 0;
}