@import './variables';

/* Bottom-pressed footer styling. */
.content {
  min-height: calc(100vh - #{$height-content});
}

/* Separation of the content from the footer. */
.row-wrapper {
  padding-bottom: $spacing-default;
}

/* Title styling. */
.content__title {
  color: $color-background-empty;
}

/* Modification for third-party class: react-calendar. */
.adopted-calendar {
  width: auto !important; // Override default fixed width.
  border-radius: $border-radius-default;
}

.PostsAreaWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.PaginationWrapper {
  margin: 20px 0;
}