@import './variables';

@media only screen and (max-width: $width-nav-toggle) {
}

.login-box__title {
  font-size: 1.5em;
}

/* The main box styles. */
.box-wrapper {
  height: 50vh;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;

  margin: -25vh 0 0 -15vw;
}

/* Uppercase style for inner buttons. */
.btn--uppercased {
  text-transform: uppercase;
}
