@import './variables';

.MainWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: $spacing_default;
}

.EditorWrapper {
  margin-top: $spacing_default;
}
