@import './variables';

/*
  Chrome has a bug with a space below the footer at 100% scale.
  A workaround for that bug is to wrap the footer separately
  so that it has its own background and then give it background color
  same as its lower part background color. 
*/
.footer-wrapper {
  background-color: $color-blackout-darker;
}

/* The main background for the webpage. */
.view-area--gradient-hot-cold {
  background: linear-gradient(
    to left, $color-background-colder, $color-background-hotter
  );
}

/* Full-height view styles (for footerless views). */
.view-area--full-height {
  height: 100vh;
}
