@import '~styles/variables';

.PostsBlock__MainWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.PostsBlock__PostWrapper {
  margin-bottom: $spacing-default;
  min-width: 100%;
}
