@import '../../variables';
@import '../../fonts';

/* Styling a Bootstrap element. */
.Navbar__BNavbar {
  background-color: $color-background;
  background-image: url(~assets/images/navbar-background-min.jpg);
  border-color: $color-highlight;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
  min-height: 80px;
}
