@import '~styles/variables';

/* The copiright text styling. */
.FooterCPPane__CopirightWrapper {
  background-color: $color-blackout-darker;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-blackout-text;
}

/* Space between the copiright text and the webpage name. */
.FooterCPPane__SpanWrapper {
  padding: $width-minimum;
}

/* The webpage name styling. */
.FooterCPPane__Text--Important {
  color: $color-background-empty;
}
