@import '~styles/variables';

/* The main part of the footer content. */
.FooterTopPane__MainWrapper {
  background-color: $color-blackout-lighter;
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* The card mixin. */
@mixin FooterTopPane__Card {
  color: white;
}

/* The main part text styling. */
.FooterTopPane__Card--Simple {
  @include FooterTopPane__Card;
}

/* The main part title styling. */
.FooterTopPane__Card--Important {
  @include FooterTopPane__Card;

  font-size: 1.5em;
}
