@import '~styles/abstracts/variables';
@import '~styles/abstracts/functions';

.FixedNav__MainWrapper {
  position: fixed;
  left: .5vw;
  bottom: 5vh;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: $color-background-empty;
  color: $color-background-empty;
  width: 10vh;
  height: 10vh;
  border: 1px solid $color-background-scroll-button;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  opacity: .3;
  transition: .1s;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: .6;
    border-color: fade($color-background-scroll-button, .6);
  }

  &:active {
    opacity: 1;
    border-color: fade($color-background-scroll-button, 1);
  }
}

.FixedNav__Arrow {
  width: 10vh;
  height: 10vh;
}
